<h1 class="text-center">About Pollitify</h1>

<h2>Our Mission</h1>
<div class='my-5'>
  <p><%=BASE_PRODUCT_NAME%> is software built by <em>grass roots activists</em> for <em>grass roots activists</em>.  We aim to empower our fellow protestors by making grass roots activism easier and more powerful.</p>
  <p>We have a very simple set of beliefs and goals:
    
    <ol>
      <li>The Congress People have failed us.  
      <li>The Senators have failed us.
      <li>The courts have failed us.  
      <li>The military has failed us.</li>
      <li>The only hope left are the the people themselves.
      <li>The only means is grass roots activism.
      <li>We aim to let a thousand, thousand grass roots political events bloom.
    </ol>
<p><%=BASE_PRODUCT_NAME%> will help you create your events, run your events, manage your grass roots activism and so, so much more.  Want to do more as an activist?  Please take a serious look at <%=BASE_PRODUCT_NAME%>.  </p>
  
<!--  <p>If you are a small grass roots activism group of up to <%=USER_LIMIT%> members, <%=BASE_PRODUCT_NAME%> is free. Now you might say "well my group has 30 people, am I screwed?"  Honestly -- talk to us.  We are built by activists, for activists and we're pretty likely to cut you an exemption.  We are in this with you.  <br/>&nbsp;</p>
   -->
<h2>Our Team</h2>
<div class='my-5'>
<p>We used to be activists just like you, fellow protest nerds, out in the streets running events.  We stepped back from runnning events because we saw the potential in the software our CTO had created on his own and we wanted to help <strong>more</strong> events bloom.  At the state level we were working at, we saw that we could create maybe 20 events in a year -- and that wasn't enough to move the needle.  We felt (and still feel) that by making event creation, promotion and execution easier, we could do more for the movement.  And that's how we got here.</p>
<p>Oh and making events easier, here's what we mean: Our leader executed our No King's Day Protest which brought 20,000 people out in the streets in only 2 days using our alpha software -- all by <strong>herself</strong>.  That's what <%=BASE_PRODUCT_NAME%> can do for you.</p>
<p class="text-end">Thanks for looking at us -- Team Pollitify<br/>The <em>protest nerds</em> behind this software</p>
