<p style="color: green"><%= notice %></p>

<% content_for :title, "Political parties" %>

<h1>Political parties</h1>

<div id="political_parties">
  <%= render 'political_parties_header' %>
  <% @political_parties.each do |political_party| %>
    <%= render 'political_parties', {political_party: political_party} %>
  <% end %>
  <%= render 'political_parties_footer' %>
</div>

<%= link_to "New political party", new_political_party_path %>
