<!-- app/views/comments/_comment.html.erb -->
<!-- <div class="mb-2">
  <strong><%= comment.user.full_name %>:</strong>
  <%= comment.body %>
  <% if comment.user == current_user %>
    <%= link_to "Delete", news_feed_item_comment_path(comment.news_feed_item, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "text-danger ms-2" %>
  <% end %>
</div> -->

<div id="<%= dom_id(comment) %>" class="mb-2">
  <strong><%= comment.user.full_name %>:</strong>
  <%= comment.body %>
  <% if comment.user == current_user %>
    <%= link_to "Delete",
                news_feed_item_comment_path(comment.news_feed_item, comment),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "text-danger ms-2" %>
    <%#= link_to "Delete",
                news_feed_item_comment_path(comment.news_feed_item, comment),
                method: :delete,
                data: { turbo_confirm: "Are you sure?" },
                class: "text-danger ms-2" %>
  <% end %>
</div>