<%= render 'devise/shared/layout' do %>
  <div class="order-2 col-lg-5 col-md-12">
    <%= image_tag('forgot-password.svg',
      alt: 'Forgot your password?',
      class: 'img-fluid') %>
  </div>

  <div class="order-1 col-lg-7 col-md-12 d-flex flex-row align-items-center">
    <div class="card-body p-md-5">
      <h3 class="mb-5 text-uppercase fs-4">Forgot your password?</h3>

      <%= form_tag(password_path(resource_name), method: :post) do |f| %>
        <div class="form-floating mb-3">
          <%= email_field_tag "#{resource_name}[email]", resource.email,
            class: "form-control#{' is-invalid' if resource.errors[:email].any?}",
            placeholder: 'Email address', autofocus: true %>
          <%= label_tag "#{resource_name}[email]", 'Email address' %>
          <% if resource.errors[:email].any? %>
            <div class="text-danger">
              <%= resource.errors[:email].join(", ") %>
            </div>
          <% end %>
        </div>

        <div class="d-flex justify-content-end pt-3">
          <%= button_tag type: 'submit', class: 'btn btn-warning btn-lg ms-2' do %>
            Send me reset password instructions
          <% end %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
<% end %>
