<div id="<%= dom_id state %>">
  <p>
    <strong>Name:</strong>
    <%= state.name %>
  </p>

  <p>
    <strong>Abbreviation:</strong>
    <%= state.abbreviation %>
  </p>

  <p>
    <strong>Fid:</strong>
    <%= state.fid %>
  </p>

  <p>
    <strong>Population:</strong>
    <%= state.population %>
  </p>

  <p>
    <strong>Congressional district count:</strong>
    <%= state.congressional_district_count %>
  </p>

  <p>
    <strong>Wikipedia congressional district url:</strong>
    <%= state.wikipedia_congressional_district_url %>
  </p>

  <p>
    <strong>Wikipedia congressional district map url:</strong>
    <%= state.wikipedia_congressional_district_map_url %>
  </p>

  <p>
    <strong>Counties count:</strong>
    <%= state.counties_count %>
  </p>

  <p>
    <strong>Townships count:</strong>
    <%= state.townships_count %>
  </p>

</div>
