<div id="<%= dom_id county %>">
  <p>
    <strong>Name:</strong>
    <%= county.name %>
  </p>

  <p>
    <strong>Name ascii:</strong>
    <%= county.name_ascii %>
  </p>

  <p>
    <strong>Name full:</strong>
    <%= county.name_full %>
  </p>

  <p>
    <strong>County fips:</strong>
    <%= county.county_fips %>
  </p>

  <p>
    <strong>State:</strong>
    <%= county.state_id %>
  </p>

  <p>
    <strong>State abbreviation:</strong>
    <%= county.state_abbreviation %>
  </p>

  <p>
    <strong>State name:</strong>
    <%= county.state_name %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= county.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= county.lng %>
  </p>

  <p>
    <strong>Coordinates:</strong>
    <%= county.coordinates %>
  </p>

  <p>
    <strong>Population:</strong>
    <%= county.population %>
  </p>

</div>
