    <tr>
      <% if current_user && current_user.is_super_user?%>
        <td scope="row"><%= event.id%></th>
      <% end %>
      <% if current_user && current_user.has_editing_privileges? %>   
        <td scope="col" class="text-center " nowrap>
          <%=link_to('âœï¸', edit_event_path(event), title: "Edit this thing", class: "no-underline")%>
          &nbsp;
          <%= link_to "ðŸ—‘ï¸", 
              event_path(event),
              method: :delete,
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </td>
      <% end %>
      <td nowrap><%= show_event_date(event)%></td>
      <td class="text-center"><%= event.time_start_at.strftime("%I:%M %p") if event.time_start_at %> <%= event.time_end_at.strftime("%I:%M %p") if event.time_end_at %>
      <td class="text-center"><%= show_event_type(event) %></td>
      <td><%= link_to(event.name, event_path(event)) %></td>      
      <td><%= event.location[0..60] if event.location %><br/>
        <%= event.city.name if event.city %>
      <%#= event.address1%>
      
      </td>
      </td>
    </tr>
