<h1 class="text-center">
  
Suggest an Event
  
</h1>

<p>Want an event to appear here?  Just fill the form below.  A couple of notes:</p>
  
<ul>
  <li><strong>Free</strong>.  Adding an event is <strong>free</strong>.  Of course it is <strong>free</strong>, we are pro democracy and we believe that the more grass roots events there are, the faster we achieve our shared goal: overthrowing fascism in America.
  <li><strong>Mobilize</strong>.  Have a mobilize url for your event?  Just drop it in the field below and we will automatically add the right information.
  <li><strong>Fast</strong>.  To prevent spam, when you add an event without having an account, we do review the event before making it live but we're striving to get events up the same day.
</ul>

<p><strong>Thank you for adding your event</strong>.  Every event, whether a protest, a rally, a march or something else takes us closer to our goals.
  
<p class="text-end">Team Pollitify<br/>The <em>protest nerds</em> behind this software</p>
<%=add_spacer%>
<hr class="border border-primary border-2 opacity-100">

<p>I want to add an event by:
  
  <p class="text-center">
    <%= link_to("Filling Out a Form", "/suggest_event_form", class: "btn btn-info")%>
    <!-- <button type="button" class="btn btn-info" href="/suggest_event_form">Filling Out a Form</button> -->
  </p>
  <p class="text-center">
    <%= link_to("Adding Your Mobilize Url", "/suggest_event_mobilize_url", class: "btn btn-secondary")%>
    <!-- <button type="button" class="btn btn-secondary" href="/suggest_event_mobilize_url">Adding Your Mobilize Url</button> -->
  </p>
  <p class="text-center">
    <%= link_to("Pasting in the Text I was Going to Post on the Web", "/suggest_event_paste_text", class: "btn btn-danger")%>
    <!-- <button type="button" class="btn btn-danger" href="/suggest_event_paste_text">Pasting in the Text I was Going to Post on the Web</button> -->
    </p>    
  <p class="text-center">
    <%= link_to("Uploading my Event Flier so You Can Do the Work for Me", "/suggest_event_upload_flier", class: "btn btn-success")%>
    <!-- <button type="button" class="btn btn-success" href="/suggest_event_upload_flier">Uploading my Flier so You Can Do the Work for Me</button> -->
    </p>    
  <p class="text-center">
    <%= link_to("Adding All Your Events At Once by Importing Your Google Sheet", "/suggest_event_google_sheet", class: "btn btn-primary")%>
  </p>

<%#= render 'suggest_an_event_form', {
  :event => @event, 
  :suggest_event => true, 
  :states => @states
  }%>

