<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= event.event_type_id %>
  </p>

  <p>
    <strong>Event start at:</strong>
    <%= event.event_start_at %>
  </p>

  <p>
    <strong>Event end at:</strong>
    <%= event.event_end_at %>
  </p>

  <p>
    <strong>Address1:</strong>
    <%= event.address1 %>
  </p>

  <p>
    <strong>Address2:</strong>
    <%= event.address2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= event.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= event.state_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= event.organization_id %>
  </p>

  <p>
    <strong>Organization fid:</strong>
    <%= event.organization_fid %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= event.slug %>
  </p>

  <p>
    <strong>Fid:</strong>
    <%= event.fid %>
  </p>

  <p>
    <strong>Congressional district:</strong>
    <%= event.congressional_district_id %>
  </p>

  <p>
    <strong>Recurring:</strong>
    <%= event.recurring %>
  </p>

  <p>
    <strong>Recurrence:</strong>
    <%= event.recurrence %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= event.url %>
  </p>

  <p>
    <strong>Mobilize url:</strong>
    <%= event.mobilize_url %>
  </p>

  <p>
    <strong>Is suggested event:</strong>
    <%= event.is_suggested_event %>
  </p>

  <p>
    <strong>Pasted description:</strong>
    <%= event.pasted_description %>
  </p>

</div>
