<%= form_with(model: secure_chat_system) do |form| %>
  <% if secure_chat_system.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(secure_chat_system.errors.count, "error") %> prohibited this secure_chat_system from being saved:</h2>

      <ul>
        <% secure_chat_system.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :fid, style: "display: block" %>
    <%= form.text_field :fid %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.label :icon_url, style: "display: block" %>
    <%= form.text_field :icon_url %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
