<div id="<%= dom_id secure_chat_system %>">
  <p>
    <strong>Name:</strong>
    <%= secure_chat_system.name %>
  </p>

  <p>
    <strong>Fid:</strong>
    <%= secure_chat_system.fid %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= secure_chat_system.url %>
  </p>

  <p>
    <strong>Icon url:</strong>
    <%= secure_chat_system.icon_url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= secure_chat_system.description %>
  </p>

</div>
