<%= form_with(model: government_official_type) do |form| %>
  <% if government_official_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(government_official_type.errors.count, "error") %> prohibited this government_official_type from being saved:</h2>

      <ul>
        <% government_official_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :fid, style: "display: block" %>
    <%= form.text_field :fid %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
