<div id="<%= dom_id google_sheet_url %>">
  <p>
    <strong>Name:</strong>
    <%= google_sheet_url.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= google_sheet_url.url %>
  </p>

  <p>
    <strong>Options:</strong>
    <%= google_sheet_url.options %>
  </p>

  <p>
    <strong>Last checked at:</strong>
    <%= google_sheet_url.last_checked_at %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= google_sheet_url.ip_address %>
  </p>

  <p>
    <strong>User agent:</strong>
    <%= google_sheet_url.user_agent %>
  </p>

  <p>
    <strong>User:</strong>
    <%= google_sheet_url.user_id %>
  </p>

</div>
