<div id="<%= dom_id city %>">
  <p>
    <strong>Name:</strong>
    <%= city.name %>
  </p>

  <p>
    <strong>Fid:</strong>
    <%= city.fid %>
  </p>

  <p>
    <strong>Name ascii:</strong>
    <%= city.name_ascii %>
  </p>

  <p>
    <strong>State fid:</strong>
    <%= city.state_fid %>
  </p>

  <p>
    <strong>State name:</strong>
    <%= city.state_name %>
  </p>

  <p>
    <strong>County fips:</strong>
    <%= city.county_fips %>
  </p>

  <p>
    <strong>County name:</strong>
    <%= city.county_name %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= city.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= city.lng %>
  </p>

  <p>
    <strong>Coordinates:</strong>
    <%= city.coordinates %>
  </p>

  <p>
    <strong>Population:</strong>
    <%= city.population %>
  </p>

  <p>
    <strong>Density:</strong>
    <%= city.density %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= city.source %>
  </p>

  <p>
    <strong>Military:</strong>
    <%= city.military %>
  </p>

  <p>
    <strong>Incorporated:</strong>
    <%= city.incorporated %>
  </p>

  <p>
    <strong>Timezone:</strong>
    <%= city.timezone %>
  </p>

  <p>
    <strong>Ranking:</strong>
    <%= city.ranking %>
  </p>

  <p>
    <strong>External fid:</strong>
    <%= city.external_fid %>
  </p>

  <p>
    <strong>State:</strong>
    <%= city.state_id %>
  </p>

  <p>
    <strong>Zips:</strong>
    <%= city.zips %>
  </p>

</div>
