<%= form_with(model: city) do |form| %>
  <% if city.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
        <% city.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :fid, style: "display: block" %>
    <%= form.text_field :fid %>
  </div>

  <div>
    <%= form.label :name_ascii, style: "display: block" %>
    <%= form.text_field :name_ascii %>
  </div>

  <div>
    <%= form.label :state_fid, style: "display: block" %>
    <%= form.text_field :state_fid %>
  </div>

  <div>
    <%= form.label :state_name, style: "display: block" %>
    <%= form.text_field :state_name %>
  </div>

  <div>
    <%= form.label :county_fips, style: "display: block" %>
    <%= form.number_field :county_fips %>
  </div>

  <div>
    <%= form.label :county_name, style: "display: block" %>
    <%= form.text_field :county_name %>
  </div>

  <div>
    <%= form.label :lat, style: "display: block" %>
    <%= form.text_field :lat %>
  </div>

  <div>
    <%= form.label :lng, style: "display: block" %>
    <%= form.text_field :lng %>
  </div>

  <div>
    <%= form.label :coordinates, style: "display: block" %>
    <%= form.text_field :coordinates %>
  </div>

  <div>
    <%= form.label :population, style: "display: block" %>
    <%= form.number_field :population %>
  </div>

  <div>
    <%= form.label :density, style: "display: block" %>
    <%= form.text_field :density %>
  </div>

  <div>
    <%= form.label :source, style: "display: block" %>
    <%= form.text_field :source %>
  </div>

  <div>
    <%= form.label :military, style: "display: block" %>
    <%= form.checkbox :military %>
  </div>

  <div>
    <%= form.label :incorporated, style: "display: block" %>
    <%= form.checkbox :incorporated %>
  </div>

  <div>
    <%= form.label :timezone, style: "display: block" %>
    <%= form.text_field :timezone %>
  </div>

  <div>
    <%= form.label :ranking, style: "display: block" %>
    <%= form.number_field :ranking %>
  </div>

  <div>
    <%= form.label :external_fid, style: "display: block" %>
    <%= form.number_field :external_fid %>
  </div>

  <div>
    <%= form.label :state_id, style: "display: block" %>
    <%= form.text_field :state_id %>
  </div>

  <div>
    <%= form.label :zips, style: "display: block" %>
    <%= form.textarea :zips %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
