<%= form_with(model: organization) do |form| %>
  <% if organization.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
        <% organization.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :fid, style: "display: block" %>
    <%= form.text_field :fid %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.checkbox :active %>
  </div>

  <div>
    <%= form.label :secure_chat_system_id, style: "display: block" %>
    <%= form.text_field :secure_chat_system_id %>
  </div>

  <div>
    <%= form.label :billing, style: "display: block" %>
    <%= form.text_field :billing %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :organization_website_url, style: "display: block" %>
    <%= form.text_field :organization_website_url %>
  </div>

  <div>
    <%= form.label :organization_website_domain, style: "display: block" %>
    <%= form.text_field :organization_website_domain %>
  </div>

  <div>
    <%= form.label :use_pollitify_base_domain, style: "display: block" %>
    <%= form.text_field :your_domain_or_ours %>BCG TODO switch to boolean radio buttons
  </div>

  <div>
    <%= form.label :domain_id, style: "display: block" %>
    <%= form.text_field :domain_id %>
  </div>

  <div>
    <%= form.label :sub_domain, style: "display: block" %>
    <%= form.text_field :sub_domain %>
  </div>

  <div>
    <%= form.label :polly_domain, style: "display: block" %>
    <%= form.text_field :polly_domain %>
  </div>

  <div>
    <%= form.label :polly_url, style: "display: block" %>
    <%= form.text_field :polly_url %>
  </div>

  <div>
    <%= form.label :features, style: "display: block" %>
    <%= form.textarea :features %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
