<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Fid:</strong>
    <%= organization.fid %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= organization.active %>
  </p>

  <p>
    <strong>Secure chat system:</strong>
    <%= organization.secure_chat_system_id %>
  </p>

  <p>
    <strong>Billing:</strong>
    <%= organization.billing %>
  </p>

  <p>
    <strong>City:</strong>
    <%= organization.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= organization.state %>
  </p>

  <p>
    <strong>Organization website url:</strong>
    <%= organization.organization_website_url %>
  </p>

  <p>
    <strong>Organization website domain:</strong>
    <%= organization.organization_website_domain %>
  </p>

  <p>
    <strong>Your domain or ours:</strong>
    <%#= organization.your_domain_or_ours %>
  </p>

  <p>
    <strong>Domain:</strong>
    <%= organization.domain_id %>
  </p>

  <p>
    <strong>Sub domain:</strong>
    <%= organization.sub_domain %>
  </p>

  <p>
    <strong>Polly domain:</strong>
    <%= organization.polly_domain %>
  </p>

  <p>
    <strong>Polly url:</strong>
    <%= organization.polly_url %>
  </p>

  <p>
    <strong>Features:</strong>
    <%= organization.features %>
  </p>

</div>
