<div id="<%= dom_id congressional_district %>">
  <p>
    <strong>Name:</strong>
    <%= congressional_district.name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= congressional_district.state_id %>
  </p>

  <p>
    <strong>Key city:</strong>
    <%= congressional_district.key_city %>
  </p>

  <p>
    <strong>Key county:</strong>
    <%= congressional_district.key_county_id %>
  </p>

</div>
