<header class="bg-body-tertiary p-2 py-lg-0">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <%= link_to root_path, class: "d-flex align-items-center mb-2 mb-md-0 text-decoration-none" do %>
        <% image_tag "/logo.png", alt: "Logo", class: "me-2", width: "45" %>
      <% end %>

      <ul class="nav nav-pills col-12 col-lg-auto me-lg-auto my-3 justify-content-center">
        <% NavHelper::NAVS.each do |nav| %>
          <% url = send(nav[:path]) %>
          <li>
            <%= link_to nav[:name], url, class: "nav-link px-2 py-1#{' active' if current_page?(url)}" %>
          </li>
        <% end %>
      </ul>

      <div class='wrap-header-form justify-content-lg-end d-flex <%= signed_in? ? "signed-in" : "w-75 w-md-50 flex-wrap not-signed-in" %> justify-content-center'>
        <form class="col-12 col-lg-auto mb-2 mb-lg-0"
          role="search" method="get"
          action='<%= search_path %>'>
          <input type="search" class="form-control"
            name="q"
            placeholder="Search..." aria-label="Search" />
        </form>

        <% if signed_in? %>
          <%= render 'devise/shared/signed_in' %>
        <% elsif !devise_controller? %>
          <div class="text-end ms-lg-3">
            <%= link_to 'Login', new_user_session_path, class: "btn btn-outline-info me-2" %>
            <%= link_to 'Sign-up', new_user_registration_path, class: "btn btn-warning" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
